<p>cadastro-projeto works!</p>

<form [formGroup]="meuFormGroup" (ngSubmit)="submitForm()" #meuFormulario="ngForm">
  <div>
    <label for="nomeProjeto">Nome do Projeto:</label>
    <input type="text" id="nomeProjeto" formControlName="nomeProjeto">
    <div *ngIf="meuFormGroup.get('nomeProjeto')?.invalid && (meuFormGroup.get('nomeProjeto')?.dirty || meuFormGroup.get('nomeProjeto')?.touched)">
      <div *ngIf="meuFormGroup.get('nomeProjeto')?.errors?.required">Nome do projeto é obrigatório.</div>
    </div>
  </div>
  
  <div>
    <label for="dataValidade">Data de Validade:</label>
    <input type="date" id="dataValidade" formControlName="dataValidade">
    <div *ngIf="meuFormGroup.get('dataValidade')?.invalid && (meuFormGroup.get('dataValidade')?.dirty || meuFormGroup.get('dataValidade')?.touched)">
      <div *ngIf="meuFormGroup.get('dataValidade')?.errors?.required">Data de validade é obrigatória.</div>
    </div>
  </div>
  
  <div>
    <label for="arquivoExcel">Arquivo Excel:</label>
    <input type="file" id="arquivoExcel" (change)="handleFileInput($event)" required>
    <div *ngIf="arquivoInvalido">
      Arquivo inválido. Por favor, selecione um arquivo Excel.
    </div>
  </div>
  
  <button type="submit" [disabled]="meuFormGroup.invalid">Enviar</button>
</form>

